* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  text-align: center;
  height: 100%;
  width: 100%;
  min-height: 100svh;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

body,
html {
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
  background-color: #2dc033;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header h3 {
  font-size: x-large;
  width: 100%;
  text-align: left;
  font-weight: normal;
  color: #2dc033;
}

.header h3 > strong {
}

.files-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  list-style-type: none;
  width: 100%;
  padding: 2rem;
  overflow: hidden;
  overflow-y: auto;
}

.files-grid li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.5rem;
}

.files-grid li:hover {
  border: 1px solid #2dc033;
}

.files-grid li .file-icon {
  font-size: 5rem;
  color: #585858;
}

.files-grid li div {
  font-size: 0.9rem;
  color: #213547;
  background-color: #dbdbdb00;
}

.uploader {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: #ebebeb;
  padding: 10px;
  border-radius: 18px;
}

.uploader input[type="file"] {
  padding: 0.2rem;
  height: 100%;
}

.login-component {
  background-color: #ebebeb;
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 500px;
  min-width: 400px;
}

.login-component > button {
  margin-top: auto;
  width: 100%;
}

.login-component div {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.login-component input {
  padding: 0.7em 1em;
  width: 100%;
  border-radius: 0.5em;
  border: none;
}

.login-component h6 {
  font-size: 1.4rem;
}

.login h5 {
  font-weight: normal;
  color: #2dc033;
  font-size: 1.5rem;
}
